server:
 port: 8761

spring:
 application:
  name: registry-server
 config:
  import: optional:configserver:http://localhost:8888

eureka:
  server:
    waitTimeInMsWhenSyncEmpty: 0
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost
