server:
 port: 8888
spring:
 application:
  name: cloud-config-server
 profiles:
  active: native
 cloud:
  config:
   server:
#    git:
#     uri: https://github.com/Bindisha/HSM-config.git
#     clone-on-start: true
#     search-paths: configuration
#     default-label: master
#     username: ${GIT_USERNAME}
#     password: ${GIT_PASSWORD}
    native:
     search-locations: classpath:configuration

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost
