eureka:
  instance:
    hostname: registry-server
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://registry-server:8761/eureka/


management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
    info:
      access: unrestricted 
    prometheus:
      access: unrestricted   
  prometheus:
    metrics:
      export:
        enabled: true
  zipkin:
    tracing:
      endpoint: http://zipkin:9411/api/v2/spans
  tracing:
    sampling:
      probablity: 1.0