server:
  port: 8091

spring:
  application:
    name: doctor-service
  cloud:
    config:
      enabled: false
      uri: ""
  flyway:
    schemas: public
  datasource:
    url: jdbc:postgresql://localhost:15432/postgres_docker_db?currentSchema=hsm_doctor
    username: sagarbarateA00335597
    password: sagar@123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_schema: hsm_doctor
        dialect: org.hibernate.dialect.PostgreSQLDialect
    database-platform: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost
    prefer-ip-address: true